{% extends 'base.html.twig' %}

{% block title %}Ajouter une fonction{% endblock %}

{% block body %}

{% include 'menutab.html.twig' %}

<div class="container-fluid">
    
    



    {{ form_start(form)}}  
<form>
    <h4>Ajout d'une fonction</h4>

    <div class="form-row">
        <div class="form-group col-md-2">
    <label>{{ form_label(form.code)}}</label>
    <br>
    {{ form_widget(form.code, {'attr': {'class':'form-control'}})}}       
    <small class="form-text text-muted">Le code sera utilisé pour générer les comptes</small>
    </div>    
    <div class="form-group col-md-4">

    <label>{{ form_label(form.LibelleFonction)}}</label>
    <br>
    {{ form_widget(form.LibelleFonction, {'attr': {'class':'form-control'}})}}
     </div>   </div>
     <div class="form-row">

        <div class="form-group col-6">

    {{ form_label(form.Ajouter)}}
    {{ form_widget(form.Ajouter, {'attr': {'class':'btn btn-dark btn-block'}})}}
        </div>
     </div>
    {{ form_end(form)}}
</div>
</form>
    </div>

{% endblock %}
