{% extends 'base.html.twig' %}

{% block title %}Ajouter un soft{% endblock %}

{% block body %}
{% include 'menutab.html.twig' %}

    <div class="container-fluid">
        {{ form_start(form)}}  

        <form>
            <div class="col-2">
                <h4>Ajout d'un soft</h4>
                <div class="form-group">


        {{ form_label(form.LibelleSoft)}}
        {{ form_widget(form.LibelleSoft, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">

        {{ form_label(form.Ajouter)}}
        {{ form_widget(form.Ajouter, {'attr': {'class':'btn btn-dark btn-block'}})}}

            </div></div></form>
        {{ form_end(form)}}
    </div>

{% endblock %}
