{% extends 'base.html.twig' %}

{% block title %}Ajouter une fonction{% endblock %}

{% block body %}
{% include 'menutab.html.twig' %}

    <div class="container-fluid">

 {{ form_start(form)}}  
 <form>
    <h4>Générer des comptes pour</h4>
    <div class="form-row">
        <div class="form-group col-md-1">
        <label>{{ form_label(form.Soft)}}</label> 
            {{ form_widget(form.Soft, {'attr': {'class':'form-control'}})}}
    
        </div>
        <div class="form-group col-md-2">

       <label> {{ form_label(form.Fonction)}}</label>
        
        {{ form_widget(form.Fonction, {'attr': {'class':'form-control'}})}}
        </div></div>

        <div class="form-row">

            <div class="form-group col-3">
    
        {{ form_label(form.Generer_10_comptes)}}
        {{ form_widget(form.Generer_10_comptes, {'attr': {'class':'btn btn-dark btn-block'}})}}
            </div></div>
            {{ form_rest(form) }}
        {{ form_end(form)}}    </div>
<div>

</div>
{% endblock %}
