{% extends 'base.html.twig' %}

{% block title %}Ajouter une fonction{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Générer des comptes pour</h4>
            </div>
        </div>

 {{ form_start(form)}}  


        {{ form_label(form.Fonction)}}
        {{ form_widget(form.Fonction)}}
        {{ form_label(form.Soft)}}
        {{ form_widget(form.Soft)}}
        {{ form_label(form.Generer_10_comptes)}}
        {{ form_widget(form.Generer_10_comptes)}}


        {{ form_end(form)}}    </div>
<div>

<a href='/Admin'>Retour</a>
</div>
{% endblock %}
