

{% block title %}Les Comptes{% endblock %}

{% block body %}
<ol>
        {% for Comptes in Comptes %}
                <li>{{ Comptes.Soft.LibelleSoft }}  {{ Comptes.Fonction.LibelleFonction }}  {{ Comptes.Login }}  {{ Comptes.Password }} {{ Comptes.IsUsed }} 
                {% if Comptes.Agents is not null %}
                        Attribué à {{ Comptes.Agents.Nom }} {{ Comptes.Agents.Prenom}}
                {% endif %}
                        </li>
        {% endfor %}
</ol>
<div>
<a href='/Admin'>Retour</a>
</div>
{% endblock %}